* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background: linear-gradient(135deg, #0D0F23 0%, #271D63 100%);
  height: 100vh;
  overflow: hidden;
  position: relative;
}



/* 스크롤바 오른쪽 고정 */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 6px;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
